@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;700&family=Poppins:wght@400;700&family=Roboto+Flex:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 20px;
    font-family: 'Belanosima', sans-serif;
}